<section class="couple-section">
  <h1 class="couple-title cursive-title">The Couple</h1>
  <div class="row">
    <img src="assets/bill.jpg" class="rect-img">
    <img src="assets/ny2.jpg" class="rect-img">
    <img src="assets/az.jpg" class="rect-img">
  </div>
  <div class="our-story">
    <div class="section-left">
      <h2 class="section-title cursive-title">How We Met</h2>
      <h4 class="section-date">11.10.2004</h4>
    </div>
    <div class="section-right">
      <p>
        We met when we were just 13 years old, at Corona Del Mar High School and middle school. It was about half way through 7th grade when I had started instant messaging the girl I would end up marrying.  
      </p>
      <p>
        After about a month I had asked her to say hello to me at school but each time she would tell me on AOL instant messenger how she walked right past me, too afraid to say anything.  After that, I decided to take things into my own hands and I asked one of her friends to point her out to me.  This was the first time I ever met my future fiancé, she was pretty flustered when I came up especially since I found out her locker was about 15 feet from mine.  
      </p>
      <p>
        We went our separate ways and to different schools during high school. We both finished high school at our respective schools, and ended up reuniting at OCC  but only as friends. we became friends and then started spending all of our time together.
      </p>
    </div>
  </div>
  <div class="row">
    <img src="assets/cake2.png" class="rect-img">
    <img src="assets/proposal.jpg" class="rect-img">
    <img src="assets/cake2.png" class="rect-img">
  </div>
  <div class="proposal">
    <div class="section-left">
      <h2 class="section-title cursive-title">The Proposal</h2>
      <h4 class="section-date">12.15.2017</h4>
    </div>
    <div class="section-right">
      <p>
        During the holidays in 2017 Alex and I planned to visit my brothers in New York with my parents.  About 3 weeks before we were supposed to be leaving, I decided to get the engangement ring made not knowing when I was going to actually propose.
      </p>
      <p>
        So with about two weeks until we were supposed to be going to New York, I asked her father for her hand in marriage. After I got his approval, I let my family know I was going to propose in Central Park while we were visiting during Chanukah. At that point I had no idea how big central park was or how exactly we were going to work it in to our short trip with out letting Alex catch on to the surprise.
      </p>
      <p> 
        I ended up getting a reservation for lunch at Momofuku Ma Peche, the restaurant in the back of Momofuku Milk Bar, the world famous bakery. After getting that figured out, I decided I was going to get a cake from the milk bar with "Will You Marry Me?" written on it and walk over to the Gapstow Bridge in Central Park to propose.
      </p>
      <p>
        On the morning of the 15th we got up and I told her what the plan for the day was.  I also let my brothers know what time to meet us at the bridge since they were going to be documenting it for me. I didn’t realize I would have no cell service to contact my brothers to confirm they had actually made it to Gapstow Bridge in Central Park once we had arrived at Central Park with the cake.
      </p>
      <p>
        Running low on time I decided to start heading towards the bridge, luckily I spotted them on the opposite side of the bridge just as we walked up. I distracted Alex long enough for them to get into place and I showed her the cake. The only thing she could get out was, "Are you serious!? Yes!!!". After we finished up at Central Park we met my parents over at Momofuku Ma Pache for lunch to celebrate popping the big question.
      </p>
      <p>
      </p>
    </div>
  </div>
</section>