<section class="couple-section">
  <h1 class="couple-title cursive-title">The Couple</h1>
  <div class="row">
    <img src="assets/la.jpg" class="rect-img">
    <img src="assets/ny.jpg" class="rect-img">
    <img src="assets/az.jpg" class="rect-img">
  </div>
  <div class="our-story">
    <div class="section-left">
      <h2 class="section-title cursive-title">How We Met</h2>
      <h4 class="section-date">11.10.2004</h4>
    </div>
    <div class="section-right">
      <p>
        We met when we were just 13 years old, at Corona Del Mar Highschool and middle school.  I was about half way through 7th grade when I had started instant messaging the girl I would end up marrying.  
      </p>
      <p>
        After about a month I had asked her to say hello to me at school but each time she would tell me on AIM how she walked right past me to afraid to said anything.  After that I decided to take thing into my own hands and I asked one of her friends to point her out to me.  
      </p>
      <p>
        This was the first time I ever met my future fiance, she was pretty flustered when I came up especially since I found out her locker was about 15 feet from mine.  Although she and I did not stay togeather through out highschool after our first year of college we became friends and started spending all of our time togeather.
      </p>
    </div>
  </div>
</section>