<section class="landing-section">
  <div class="top-box">
    <div class="left-box">
      <span class="cursive-text">You won't want to miss this!</span>
      <a class="landing-link" routerLink="/schedule">Schedule</a>
    </div>
    <div class="right-box">
      <div class="min-bottom-box">
        <span class="cursive-text">Looking for a gift?</span>
        <a class="landing-link" routerLink="/registry">Registry</a>
      </div>
    </div>
  </div>
  <div class="family-container">
    <div class="family-title">Our Parents</div> 
    <div class="family-row">
      <div class="family-member">
        <span class="family-rel">Parents of the Bride</span>
        <img src="assets/burkheads.jpeg">
        <span class="family-name">Dr. Daniel Burkhead</span>
        <span class="family-name">&</span>
        <span class="family-name"> Dr. Sandra Loughlin-Burkhead</span>
      </div>
      <div class="family-member">
        <span class="family-rel">Parents of the Groom</span>
        <img src="assets/kidushims.jpg">
        <span class="family-name">Joseph</span>
        <span class="family-name">&</span>
        <span class="family-name">Veronica Kidushim</span>
      </div>
    </div>
  </div>
  <div class="bottom-box">
    <div class="left-box">
      <span class="cursive-text">Are you coming?</span>
      <a class="landing-link" routerLink="/rsvp">RSVP</a>
    </div>
  </div>
</section>