<!-- <div class="countdown-container">
  <countdown units="Days"  end="October 20, 2018"></countdown>
</div> -->
<section class="landing-section">
  <div class="top-box">
    <div class="left-box">
      <span class="cursive-text">You won't want to miss this!</span>
      <a class="landing-link" routerLink="/schedule">Schedule</a>
    </div>
    <div class="right-box">
      <div class="min-top-box">
        <span class="cursive-text">Countdown</span>
      </div>
      <div class="min-bottom-box">
        <span class="cursive-text">Are you coming?</span>
        <a class="landing-link" routerLink="/rsvp">RSVP</a>
      </div>
    </div>
  </div>
  <!-- <div class="video-container">
    <video src="assets/ny.m4v" controls="true"></video>
  </div> -->
  <div class="family-container">
    <div class="family-title">Our Families</div>
    <div class="family-row">
      <div class="family-member">
        <img src="assets/travel_car.png">
        <span class="family-name">Sandy Burkhead</span>
        <span class="family-rel">Mother of the Bride</span>
      </div>
      <div class="family-member">
        <img src="assets/travel_car.png">
        <span class="family-name">Daniel Burkhead</span>
        <span class="family-rel">Father of the Bride</span>
      </div>
      <div class="family-member">
        <img src="assets/travel_car.png">
        <span class="family-name">Veronica Kidushim</span>
        <span class="family-rel">Mother of the Groom</span>
      </div>
      <div class="family-member">
        <img src="assets/travel_car.png">
        <span class="family-name">Joseph Kidushim</span>
        <span class="family-rel">Father of the Groom</span>
      </div>
    </div>
  </div>
  <div class="bottom-box">
    <div class="left-box">
      <span class="cursive-text">Book It!</span>
      <a class="landing-link" routerLink="/travel">Accomodations</a>
    </div>
  </div>
</section>