.landing-section{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.top-box,.bottom-box{
  display: flex;
  height: 400px;
}
.top-box >div:nth-child(1){
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
  flex-direction:column;
}
.top-box >div:nth-child(2){
  border-top: 1px solid black;
  justify-content: flex-end;
  flex:1;
}
.right-box > div{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.family-container{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.family-row{
  height: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.min-top-box{
  border-bottom: 1px solid black;
}
.bottom-box >div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
  flex-direction:column;
}
.family-member{
  vertical-align: top;
  width: 40%;
  display: inline-block;
  padding: 18px 0;
}
.family-member img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.family-name{
  display: block;
  font-family: "jaq";
  padding-top: 5px;
}
.family-rel{
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: "jaq";
  font-size: 20px;
}
.family-title{
  display: block;
  text-align: center;
  font-size: 42px;
  font-family: "jaq";
  margin-top: 22px;
}
.cursive-text{
  font-family: "jaq";
  font-size: 36px;
  text-align: center;
  display: block;
}
.landing-link{
  display: block;
  color: #ffb3b3;
}
.video-container{
  width: 100%;
  overflow: hidden;
  height: 400px;
}
.video-container video{
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .family-row{
    flex-flow: column;
    height: auto;
  }
  .family-member{
    border-top: 1px solid black;
  }
  .top-box .cursive-text,.bottom-box .cursive-text{
    font-size: 16px; 
  }
}