<mat-card class="contact-card">
  <mat-card-content>
    <form class="contact-form">
      <div class="form-group">
        <mat-form-field>
          <textarea matInput placeholder="Message" #message></textarea>
        </mat-form-field>
      </div>
      <div class="post-row">
        <button mat-raised-button>Post</button>
      </div>
    </form>
    <mat-list class="guestbook-list">
      <mat-list-item class="list-item">
        <p mat-line>Hey Guys can't wait for the big day!! Congratulations!!! - Mike</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>