<section class="reg-section">
  <h1 class="cursive-title registry-title">Registry</h1>
  <div class="reg-list-container">
    <div class="reg-list-item">
      <a class="btn" href="https://www.target.com/gift-registry/giftgiver?registryId=c54c048f84f44009b2346c55ad2685df&lnk=registry_custom_url#1" target="_blank">Target</a>
    </div>
    <div class="reg-list-item">
      <a class="btn" href="https://www.macys.com/wgl/registry/guest/6929183" target="_blank">Macy's</a>
    </div>
     <div class="reg-list-item">
      <a class="btn" href="https://www.zola.com/registry/kidushim" target="_blank">Zola</a>
    </div>
   <!--  <div class="reg-list-item">
      <make-payment></make-payment>
    </div> -->
  </div>
</section>