.rsvp-container,.rsvp-submit-container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.rsvp-min-height{
  min-height: 350px;
}
.rsvp-desc{
  text-align: center;
  width: 85%;
  margin: 0px auto;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
}
.name-full-width,.full-width{
  width: 80%;
  margin: auto;
  text-align: left;
}
div.full-width{
  padding-bottom: 1.25em;
  padding-top: .5em;
}
.main-form,.secondary-form{
  padding: 20px;
  border: 1px solid black;
  position: relative;
}
.main-form{
  padding: 40px 20px 20px 20px;
  border-top: 1px solid black;
}
.secondary-form{
  border-top: none;
}
.remove-form-row{
  height: 25px;
}
.remove-form-btn{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0;
  min-width: 50px;
}
.rsvp-submitted{
  margin: 0px auto 50px auto;
}
.rsvp-title{
  font-size: 40px;
}
.add-rsvp-row{
  height: 25px;
}
.add-rsvp-btn{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0;
  min-width: 50px;
}
.btn-row{
  text-align: right;
}
.btn-row.main{
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 378px) {
  .mat-radio-button[value='1']{
    margin-bottom: 10px;
  }
}