<!-- <div class="rsvp-container">
  RSVP Section Coming Soon!
</div> -->
<div class="rsvp-container" *ngIf="local.token == null">
  <div class="rsvp-desc">
    Please let us know your plans here by entering your name as it appears on your invitation. We hope we get to celebrate together!
  </div>
  <div>
    <form class="example-form">
      <div>
        <mat-form-field class="name-full-width">
          <input matInput #name placeholder="Name" value="">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="email-full-width">
          <input matInput #email placeholder="Email" value="">
        </mat-form-field>
      </div>
      <div class="btn-row">
        <button mat-button (click)="add(name.value,email.value);">
          CONTINUE
        </button>
      </div>
    </form>
  </div>
</div>
<div class="rsvp-submit-container" *ngIf="local.token !== null">
  <div class="rsvp-desc">
    Text for RSVP FORM
  </div>
  <div>
    <mat-card>
      <mat-card-content>
        <form class="main-form">
          <div>
            <mat-form-field class="name-full-width">
              <input matInput #mainName name="name" placeholder="Name" [(ngModel)]=local.name>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="email-full-width">
              <input matInput #mainEmail name="email" placeholder="Email" [(ngModel)]=local.email>
            </mat-form-field>
          </div>
          <div>
            <mat-radio-group #mainRadio name="radio" [(ngModel)]=local.coming>
              <mat-radio-button value="1">Attending</mat-radio-button>
              <mat-radio-button value="0">Not Attending</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <mat-form-field class="email-full-width">
              <input matInput #mainSong name="song" placeholder="Song" [(ngModel)]=local.song>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div *ngIf="local.plus_one == 1">
      <mat-card *ngFor="let form of forms; let i=index">
        <mat-card-content>
          <form class="secondary-form">
            <div>
              <mat-form-field class="name-full-width">
                <input matInput ngClass="name{{i}}" name="name{{i}}" required placeholder="Name" [(ngModel)]=forms[i].name>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="email-full-width">
                <input matInput ngClass="email{{i}}" name="email{{i}}" type="email" placeholder="Email" [(ngModel)]=forms[i].email>
              </mat-form-field>
            </div>
            <div>
              <mat-radio-group ngClass="radio{{i}}" name="coming{{i}}" required [(ngModel)]=forms[i].coming>
                <mat-radio-button value="1">Attending</mat-radio-button>
                <mat-radio-button value="0">Not Attending</mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <mat-form-field class="email-full-width">
                <input matInput ngClass="song{{i}}" name="song{{i}}" placeholder="Song"[(ngModel)]=forms[i].song>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="local.plus_one == 0">
      <mat-card *ngFor="let form of forms; let i=index">
        <mat-card-content>
          <form class="secondary-form">
            <div>
              <!-- <mat-form-field class="name-full-width">
                <mat-select ngClass="name{{i}}" placeholder="Name" name="name{{i}}" [(ngModel)]=forms[i].name>

                  <mat-option *ngFor="let guest of guest_list" [value]="guest.id">
                    {{ guest.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <ng-select [items]="guest_list"
                   bindLabel="name"
                   bindValue="id"
                   placeholder="Select Additional Guest"
                   [(ngModel)]="forms[i].name"
                   name="name{{i}}">
              </ng-select>
            </div>
            <div>
              <mat-form-field class="email-full-width">
                <input matInput ngClass="email{{i}}" name="email{{i}}" type="email" placeholder="Email" [(ngModel)]=forms[i].email>
              </mat-form-field>
            </div>
            <div>
              <mat-radio-group ngClass="radio{{i}}" name="coming{{i}}" required [(ngModel)]=forms[i].coming>
                <mat-radio-button value="1">Attending</mat-radio-button>
                <mat-radio-button value="0">Not Attending</mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <mat-form-field class="email-full-width">
                <input matInput ngClass="song{{i}}" name="song{{i}}" placeholder="Song"[(ngModel)]=forms[i].song>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="btn-row">
      <button mat-button (click)="submit();">
        Submit
      </button>
      <button mat-button (click)="addForm();">
        Add Person
      </button>
    </div>
  </div>
</div>
