.list-section{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


.mat-column-message{
  padding: 10px 0;
}
