<header>
  <h1 class="main-nav-title">Alex & Mike</h1>
  <div class="main-nav-date">
    <span>October 20, 2018</span>
  </div>
  <nav>
    <ul class="main-nav" [ngClass]="status ? 'success' : 'danger'">
      <li class="nav-toggle" (click)="clickEvent()"><mat-icon>menu</mat-icon></li>
      <li routerLink="/home" (click)="clickEvent()" [ngClass]="status ? 'success' : 'danger'"> <a>Home</a></li>
      <li routerLink="/couple" (click)="clickEvent()" [ngClass]="status ? 'success' : 'danger'"><a>Couple</a></li>
      <li routerLink="/schedule" (click)="clickEvent()" [ngClass]="status ? 'success' : 'danger'"><a>Schedule</a></li>
      <!-- <li routerLink="/photo" (click)="clickEvent()" [ngClass]="status ? 'success' : 'danger'"><a>Photos</a></li> -->
      <li routerLink="/travel" (click)="clickEvent()" [ngClass]="status ? 'success' : 'danger'"><a>Travel</a></li>
      <li routerLink="/registry" (click)="clickEvent()" [ngClass]="status ? 'success' : 'danger'"><a>Registry</a></li>
      <li routerLink="/rsvp" (click)="clickEvent()" [ngClass]="status ? 'success' : 'danger'"><a>RSVP</a></li>
    </ul>
  </nav>
</header>
<div class="header-background">
  
</div>
<router-outlet (deactivate)="onDeactivate()"></router-outlet>
<div class="footer-container">
  Created By: 
  <a href="mkidushim.net">Mike Kidushim</a>
</div>
<app-messages></app-messages>