header{
  margin: 0;
  padding:0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color:#FFFBF0;
}
nav ul.main-nav{
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-padding-start:0;
    margin: 0;
    padding: 0;
}
.main-nav > li{
  display: inline-block;
  padding: 0 10px;
  margin: 10px 0px;
  cursor: pointer;
  text-transform: uppercase;
}
.main-nav-date,.main-nav-title{
  text-align: center;
}
.main-nav-title{

  cursor: pointer;
}
.main-nav-date{
  margin-bottom: 10px;
}
.header-background{
  background-image: url('../assets/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFBF0;
  background-size: cover;
  height: 435px;
  width: 100%;
  max-width: 1200px;
  margin: 148px auto 0 auto;
}
:focus{
  outline: none;
}