header{
  margin: 0;
  padding:0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  max-width: 900px;
  margin: 0 auto;
  background-color:#FFFBF0;
}
nav ul.main-nav{
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-padding-start:0;
    margin: 0;
    padding: 0;
}
.main-nav > li{
  display: inline-block;
  padding: 0 10px;
  margin: 10px 0px;
  cursor: pointer;
  text-transform: uppercase;
}
.main-nav-date,.main-nav-title{
  text-align: center;
}
.main-nav-title{
  font-family: 'cursive';
  /*cursor: pointer;*/
  font-size: 62px;
  margin: 0;
}
.main-nav-date{
  margin-bottom: 10px;
  font-weight: bold;
}
.route-outlet{
    margin: 0 auto;
    position: relative;
}
.header-background{
  background-image: url('../assets/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFBF0;
  background-size: cover;
  height: 260px;
  width: 100%;
  max-width: 900px;
  margin: 185px auto 0 auto;
}
:focus{
  outline: none;
}
.footer-container{
  padding: 10px 0px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  max-width: 900px;
  height: 50px;
  margin: 0px auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}
.footer-container a {
  margin-left: 5px;
  color: black;
  text-decoration: none;
}