.schedule-section{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.schedule-info{
  margin-top: 0px;
  text-align: center;
  font-size: 70px;
}
.schedule-main-title{
  text-align: center;
  font-size: 40px;
}
.schedule-container{
  display: flex;
  justify-content: center;
}
.schedule-item{
  vertical-align: top;
  padding: 60px;
  position: relative;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.schedule-item.left{
  border-left: 1px solid black;
}
.schedule-item:not(.left){
  border-left: 1px solid black;
}
.travel-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.travel-card{
  height: auto;
  min-height: 250px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.travel-card img{
  width: 155px;
}
.btn-container{
  margin-top: 20px;
}
.btn{
  color: #FF9999;
  min-width: 175px;
  padding: 15px 0px;
  text-decoration: none;
  text-transform: uppercase;
}
.sub-title-text{
  margin-top: 3px;
}
.title,.time{
  margin: 10px 0px 7px 0px;
  font-weight: bold;
  font-size: 26px;
}
.sub-title{
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  margin-top: 20px;
}
.title-text{
  min-height: 12vh;
}
@media only screen and (max-width: 768px) {
  .schedule-container {
    flex-flow: column;
  }
  .schedule-item.left,.schedule-container .schedule-item{
    border-left: none;
  }
  .schedule-info{
    font-size: 35px;
  }
  .schedule-item{
    width: 75%;
  }
  .title-text{
    min-height: 0;
  }
}