.schedule-info{
  margin-top: 150px;
  text-align: center;
}
.schedule-container{
  display: flex;
  justify-content: center;
}
.schedule-item{
  vertical-align: top;
  padding: 60px;
  position: relative;
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.schedule-item.left{
  border-right: 1px solid black;
}