<section class="schedule-section">
  
  <h1 class="schedule-info">
    OCTOBER 20
  </h1>
  <div class="schedule-container first">
    <div class="schedule-item left">
      <div class="schedule-item-left">
        <div class="ceremony time">
          5:00PM
        </div>
        <div class="ceremony title">
          CEREMONY
        </div>
        <div class="ceremony title-text">
          Join us and our families in celebrating as we finally tie the knot.
        </div>
        <div class="ceremony sub-title">
          VENUE
        </div>
        <div class="ceremony sub-title-text">
          Phase II Club House, Port Streets
        </div>
        <div class="ceremony sub-title">
          ADDRESS
        </div>
        <div class="ceremony sub-title-text">
          <address>1900 Port Carlow<br>
          Newport Beach, CA 92660</address>
        </div>
        <div class="btn-container">
          <a class="btn" href="http://maps.google.com/?q=Port+Carlow+Place+1900+Newport+Beach+CA+92660+United+States+" target="_blank">VIEW ON MAP</a>
        </div>
      </div>
    </div>
    <div class="schedule-item">
      <div class="schedule-item-right">
        <div class="ceremony time">
          6:00PM
        </div>
        <div class="ceremony title">
          RECEPTION
        </div>
        <div class="ceremony title-text">
          Stick around and celebrate with us immediately following the ceremony!!  
        </div>
        <div class="ceremony sub-title">
          VENUE
        </div>
        <div class="ceremony sub-title-text">
          Same as the ceremony.
        </div>
        <div class="ceremony sub-title">
          ADDRESS
        </div>
        <div class="ceremony sub-title-text">
          <address>1900 Port Carlow<br>
          Newport Beach, CA 92660</address>
        </div>
        <div class="btn-container">
          <a class="btn" href="http://maps.google.com/?q=Port+Carlow+Place+1900+Newport+Beach+CA+92660+United+States+" target="_blank">VIEW ON MAP</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="schedule-container">
    <div class="schedule-item left">
      <div class="schedule-item-left">
        <div class="ceremony title">
          Reception
        </div>
        <div class="ceremony date">
          Saturday, October 20, 2018
        </div>
        <div class="ceremony time">
          6:00 pm - 10:00 pm
        </div>
      </div>
    </div>
    <div class="schedule-item">
      <div class="schedule-item-right">
        <div class="ceremony title">
          Phase II Club House
          <address>
            1900 Port Carlow<br>
            Newport Beach, CA 92660
          </address>
        </div>
        <div class="ceremony calendar-btn">
          Map
        </div>
        <div title="Add to Calendar" class="addeventatc">
          Add to Calendar
          <span class="start">10/20/2018 06:00 pm</span>
          <span class="end">10/20/2018 10:00 pm</span>
          <span class="timezone">America/Los_Angeles</span>
          <span class="title">Wedding Reception for Alexandra Burkhead and Michael Kidushim</span>
          <span class="description">Alexandra Burkhead and Michael Kidushim Reception</span>
          <span class="location">1812 Port Carlow Newport Beach, CA 92660</span>
        </div>
      </div>
    </div>
  </div> -->
  <p class="travel-info">
    If you are coming from out of town and still need to book a flight, just click on the link below and it will direct you to google flights with search parameters for flights coming into Los Angeles, Long Beach or Orange County on Friday October 19,2018 and departing Sunday October 21, 2018. All you need to do is enter the city or airport you want to depart from, you can also change any of the other search params as you need. 
  </p>
  <div class="travel-container">
    <div class="travel-card">
      <img src="assets/travel_plane.png" alt="Travel plane">
      <h1 class="method">Fly</h1>
      <a class="btn" href="https://www.google.com/flights/#search;t=SNA,LAX,LGB;d=2018-10-19;r=2018-10-21;s=1;" target="_blank">Find Flights</a>
    </div>
  </div>
</section>