<mat-card>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="song-full-width">
        <input matInput #songName placeholder="Song Name" value="">
      </mat-form-field>
      <mat-form-field class="artist-full-width">
        <input matInput #artistName placeholder="Artist Name" value="">
      </mat-form-field>
      <!-- (click) passes input value to add() and then clears the input -->
      <div class="btn-row">
        <button mat-button (click)="add(songName.value,artistName.value); artistName.value=''; songName.value=''">
          Add Song To Playlist
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="playlist-card">
  <mat-card-header>
    <mat-card-title>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let playlist"> {{playlist.name}} </mat-cell>
      </ng-container>

      <!-- artist Column -->
      <ng-container matColumnDef="artist">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Artist </mat-header-cell>
        <mat-cell *matCellDef="let playlist"> {{playlist.artist}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" (click)="update(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" (click)="delete(row)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

   <!--  <mat-list class="playlist">
      <mat-list-item *ngFor="let p of playlist">
        <span>{{p.name}} -</span><span>{{p.artist}}</span>
      </mat-list-item>
    </mat-list> -->
  </mat-card-content>
</mat-card>