.schedule-info{
  margin-top: 0px;
  text-align: center;
}
.travel-container{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}
.travel-card{
    height: auto;
    min-height: 250px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.travel-card img{
  width: 155px;
}
.travel-card .btn{
  color: #fff;
  background-color: #FF9999;
  min-width: 175px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}