<p class="schedule-info">
  Here is some information about where to stay and what airports are closest.
</p>
<div class="schedule-container first">
  <div class="schedule-item left">
    <div class="schedule-item-left">
      <div class="ceremony title">
        Ceremony
      </div>
      <div class="ceremony date">
        Saturday, October 20, 2018
      </div>
      <div class="ceremony time">
        5:00 pm - 6:00 pm
      </div>
    </div>
  </div>
  <div class="schedule-item">
    <div class="schedule-item-right">
      <div class="ceremony title">
        Phase II Club House
        <address>1812 Port Carlow<br>
        Newport Beach, CA 92660</address>
      </div>
      <div class="ceremony calendar-btn">
        Map
      </div>
      <div title="Add to Calendar" class="addeventatc">
        Add to Calendar
        <span class="start">10/20/2018 05:00 pm</span>
        <span class="end">10/20/2018 06:00 pm</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">Wedding Ceremony for Alexandra Burkhead and Michael Kidushim</span>
        <span class="description">Alexandra Burkhead and Michael Kidushim Ceremony</span>
        <span class="location">1812 Port Carlow Newport Beach, CA 92660</span>
      </div>
    </div>
  </div>
</div>
<div class="schedule-container">
  <div class="schedule-item left">
    <div class="schedule-item-left">
      <div class="ceremony title">
        Reception
      </div>
      <div class="ceremony date">
        Saturday, October 20, 2018
      </div>
      <div class="ceremony time">
        6:00 pm - 10:00 pm
      </div>
    </div>
  </div>
  <div class="schedule-item">
    <div class="schedule-item-right">
      <div class="ceremony title">
        Phase II Club House
        <address>
          1812 Port Carlow<br>
          Newport Beach, CA 92660
        </address>
      </div>
      <div class="ceremony calendar-btn">
        Map
      </div>
      <div title="Add to Calendar" class="addeventatc">
        Add to Calendar
        <span class="start">10/20/2018 06:00 pm</span>
        <span class="end">10/20/2018 10:00 pm</span>
        <span class="timezone">America/Los_Angeles</span>
        <span class="title">Wedding Reception for Alexandra Burkhead and Michael Kidushim</span>
        <span class="description">Alexandra Burkhead and Michael Kidushim Reception</span>
        <span class="location">1812 Port Carlow Newport Beach, CA 92660</span>
      </div>
    </div>
  </div>
</div>