<div class="travel-section">
  <h1 class="cursive-title travel-title">
    Accommodations
  </h1>
  <div class="travel-container">
    <div class="travel-card">
      <img class="photo" src="http://s3.amazonaws.com/cdn-rileygrey/27506/229be8f7-69d5-4374-a622-ec5252412115.jpg" alt="229be8f7 69d5 4374 a622 ec5252412115">
      <h4 class="title">Hyatt Regency</h4>
      <span class="address">
        1107 Jamboree Rd<br>
        Newport Beach, CA<br>
        (949) 729-1234
      </span>
      <span class="title">From</span>
      <span class="copy">$150 per night</span>
      <span class="title">Distance</span>
      <span class="copy">3.6 miles</span>
      <span class="title">Promo</span>
      <span class="copy">Use code 'RileyGrey'</span>
      <a class="btn book-hotel" href="https://newportbeach.regency.hyatt.com" target="_blank">More Info</a>
    </div>
    <div class="travel-card">
      <img class="photo" src="http://s3.amazonaws.com/cdn-rileygrey/27506/229be8f7-69d5-4374-a622-ec5252412115.jpg" alt="229be8f7 69d5 4374 a622 ec5252412115">
      <h4 class="title">Fashion Island Hotel</h4>
      <span class="address">
        690 Newport Center Dr<br>
        Newport Beach, CA<br>
        (949) 386-8361
      </span>
      <span class="title">From</span>
      <span class="copy">$150 per night</span>
      <span class="title">Distance</span>
      <span class="copy">3.6 miles</span>
      <span class="title">Promo</span>
      <span class="copy">Use code 'RileyGrey'</span>
      <a class="btn book-hotel" href="https://www.fashionislandhotel.com" target="_blank">More Info</a>
    </div>
    <div class="travel-card">
      <img class="photo" src="http://s3.amazonaws.com/cdn-rileygrey/27506/229be8f7-69d5-4374-a622-ec5252412115.jpg" alt="229be8f7 69d5 4374 a622 ec5252412115">
      <h4 class="title">Marriot Newport Beach</h4>
      <span class="address">
        900 Newport Center Dr<br>
        Newport Beach, CA<br>
        (949) 640-4000
      </span>
      <span class="title">From</span>
      <span class="copy">$150 per night</span>
      <span class="title">Distance</span>
      <span class="copy">3.6 miles</span>
      <span class="title">Promo</span>
      <span class="copy">Use code 'RileyGrey'</span>
      <a class="btn book-hotel" href="http://www.marriott.com/hotels/travel/laxnb-newport-beach-marriott-hotel-and-spa/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2" target="_blank">More Info</a>
    </div>
  </div>
</div>