<div class="travel-section">
  <h1 class="cursive-title travel-title">
    Accommodations Nearby
  </h1>
  <div class="travel-container">
    <div class="travel-card">
      <img class="photo" src="assets/attrium.jpg" alt="Atrium Hotel">
      <h4 class="title">Atrium Hotel</h4>
      <span class="address">
        18700 Macarthur Blvd<br>
        Irvine, CA<br>
        (949) 729-1234
      </span>
      <span class="title">From</span>
      <span class="copy">$150 per night</span>
      <span class="title">Distance</span>
      <span class="copy">3.6 miles</span>
      <span class="title">Promo</span>
      <span class="copy">Use code 'RileyGrey'</span>
      <a class="btn book-hotel" href="https://atriumhotel.com" target="_blank">More Info</a>
    </div>
    <div class="travel-card">
      <img class="photo" src="assets/fih.jpg" alt="Fashion Island Hotel">
      <h4 class="title">Fashion Island Hotel</h4>
      <span class="address">
        690 Newport Center Dr<br>
        Newport Beach, CA<br>
        (949) 386-8361
      </span>
      <span class="title">From</span>
      <span class="copy">$150 per night</span>
      <span class="title">Distance</span>
      <span class="copy">3.6 miles</span>
      <span class="title">Promo</span>
      <span class="copy">Use code 'RileyGrey'</span>
      <a class="btn book-hotel" href="https://www.fashionislandhotel.com" target="_blank">More Info</a>
    </div>
    <div class="travel-card">
      <img class="photo" src="assets/marriot.jpg" alt="Marriot Hotel Newport Beach">
      <h4 class="title">Marriot Newport Beach</h4>
      <span class="address">
        900 Newport Center Dr<br>
        Newport Beach, CA<br>
        (949) 640-4000
      </span>
      <span class="title">From</span>
      <span class="copy">$150 per night</span>
      <span class="title">Distance</span>
      <span class="copy">3.6 miles</span>
      <span class="title">Promo</span>
      <span class="copy">Use code 'RileyGrey'</span>
      <a class="btn book-hotel" href="http://www.marriott.com/hotels/travel/laxnb-newport-beach-marriott-hotel-and-spa/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2" target="_blank">More Info</a>
    </div>
  </div>
  <h1 class="cursive-title travel-title">
    Find a Flight
  </h1>
  <div class="travel-container">
    <div class="travel-card">
      <img src="assets/travel_plane.png" class="fly-img" alt="Travel plane">
      <h1 class="method">Fly</h1>
      <a class="btn" href="https://www.google.com/flights/#search;t=SNA,LAX,LGB;d=2018-10-19;r=2018-10-21;s=1;" target="_blank">Find Flights</a>
    </div>
  </div>
</div>