/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
/*text*/
@font-face{
  font-family:'bakers';
  src:url(assets/GE.ttf) format("opentype");
};
/*cursive*/
@font-face{
  font-family:'jaq';
  src:url(assets/Milkshake.otf) format("opentype");
};

body{
  margin: 0!important;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #FFFBF0;
  font-family: 'bakers';
}
.cursive-title{
  font-family: 'jaq';
}
h1:not(.main-nav-title){
  margin-top: 0px;
}